{% extends "base.html"%}
{% load bootstrap3%}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <form method="POST">
                {{ change_password_form.as_p }}
                {% csrf_token %}
                <div class="form-group row text-right">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <input type="submit" class="btn btn-outline-primary" value="Save">
                    </div>
                </div>
            </form>
            {%if isChanged %}
                <h3>Your password is changed!</h3>
            {%endif%}
        </div>
    </div>
{% endblock %}
