{% extends "base.html"%}
{% load bootstrap3%}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            {% if isUpdated %}
                <h3>Your profile info is updated!</h3>
            {% else %}
                <h3>Update</h3>
                {% csrf_token %}
                <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">UserName</span>
                    </div>
                    <input type="text"  value="{{ user.username }}" class="form-control" aria-label="Default" required="required" aria-describedby="inputGroup-sizing-default" id="username" name="username">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
                    </div>
                    <input type="text"  value="{{ user.first_name }}" class="form-control" aria-label="Default" required="required" aria-describedby="inputGroup-sizing-default" id="first_name" name="first_name">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
                    </div>
                    <input type="text"  value="{{ user.last_name }}" class="form-control" aria-label="Default" required="required" aria-describedby="inputGroup-sizing-default" id="last_name" name="last_name">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                    </div>
                    <input type="email"  value="{{ user.email }}" class="form-control" aria-label="Default" required="required" aria-describedby="inputGroup-sizing-default" id="email" name="email">
                </div>
                <div class="form-group row text-right">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <input type="submit" class="btn btn-outline-primary" value="Save">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
