{% extends "base.html"%}
{% load bootstrap3%}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <form method='POST'>
                {% if userProfile.user_type == "consumer" %}
                    <h3>{{userProfile.user.username}}'s Menus</h3>
                {% else %}
                    <h3>{{userProfile.provider_name}}'s Menus</h3>
                {% endif %}
                <div class="form-group">
                    {% for menu in menus %}
                        <div>
                            {% if request.user ==  userProfile.user  %}
                                <a href="{% url 'accounts:my_menu_details'  user_profile_id=userProfile.id pk=menu.id %}">{{ menu.title }}</a>
                            {% else %}
                                <a href="{% url 'accounts:menu_details'  user_profile_id=userProfile.id pk=menu.id %}">{{ menu.title }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {% if request.user ==  userProfile.user  %}
                        <a href="{% url 'accounts:create_menu' %}">Create Menu</a>
                    {% endif %}
                </div>
                {{errorMessage}}
            </form>
        </div>
    </div>
{% endblock %}
