{% extends "base.html"%}
{% load bootstrap3%}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            {% if userProfile.user_type == "consumer" %}
                <h3>{{user.username}}'s Profile</h3>
            {% else %}
                <h3>{{userProfile.provider_name}}'s Profile</h3>
            {% endif %}
            {% if userProfile.user_type == "consumer" %}
                <p>First name: {{user.first_name}}</p>
                <p>Last name: {{user.last_name}}</p>
                <p>Email: {{user.email}}</p>
                <p id>Birthday: {{userProfile.birthday}}</p>
                <div>
                    <a href="{% url 'accounts:list_recipes' userProfile.id %}">{{user.username}}'s Recipes</a>
                </div>
                <div>
                    <a href="{% url 'accounts:list_menus' userProfile.id %}">{{user.username}}'s Menus</a>
                </div>
            {% else %}
                <p>ProviderName: {{userProfile.provider_name}}</p>
                <p>Address: {{userProfile.address}}</p>
                <p>Phone Number: {{userProfile.phone_number}}</p>
                <div>
                    <a href="{% url 'accounts:list_recipes' userProfile.id %}">{{userProfile.provider_name}}'s Recipes</a>
                </div>
                <div>
                    <a href="{% url 'accounts:list_menus' userProfile.id %}">{{userProfile.provider_name}}'s Menus</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
