{% extends "base.html"%}
{% load bootstrap3%}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>Recipe Details</h2>
      <p>Recipe Title: {{recipe.title}}</p>
      <p>Description: {{recipe.description}}</p>
      <p>Instructions: {{recipe.instructions}}</p>
      <p>Duration: {{recipe.duration}}</p>
      <p>Level: {{recipe.level}}</p>
      <p>Ingredients: </p>
      <ul id="ingList" name="ingList"> </ul>
      <p>Nutrition values: to do: parse Nutrition values from ingredients</p>
  </div>
</div>

<script>
  var ingredients = {};

  $(document).ready(function(){
      $(function(e){
        var ingredientsWithColon="{{recipe.ingredients}}"

        var ingredientList = ingredientsWithColon.split("*");
        var i;
        var $myList = $('#ingList');

        for (i=1;i<ingredientList.length;i=i+1){
          var $entry = $('<li id="ingList" name="ingList">'+ingredientList[i]+'</li>')
          $myList.append($entry);
        }
      })
	})
</script>
{% endblock %}
