{% extends "base.html"%}
{% load bootstrap3%}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <form method='POST'>
      {% csrf_token %}
      <h2>Recipe Details</h2>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"   id="inputGroup-sizing-default">Title</span>
          </div>
          <input type="text" value="{{recipe.title}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="title" name="title" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"   id="inputGroup-sizing-default">Description</span>
          </div>
          <input type="text" value="{{recipe.description}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="description" name="description" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"   id="inputGroup-sizing-default">Instructions</span>
          </div>
          <textarea rows="8" cols="80" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="instructions" name="instructions" required>{{recipe.instructions}}</textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"  id="inputGroup-sizing-default">Duration</span>
          </div>
          <input type="text" value="{{recipe.duration}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="duration" name="duration" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" value="{{recipe.level}}" id="inputGroup-sizing-default">level</span>
          </div>
        <select class="form-control" id="level" name="level" required>
          <option value="easy">easy</option>
          <option value="medium">medium</option>
          <option value="hard">hard</option>
        </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Search ingredients</span>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="term" placeholder="Search for ingredient" name='search'">
            <button id="search" class="btn btn-outline-primary">Search</button>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Search results</span>
          </div>
          <select class="form-control" id="search_results" onchange="getSelectedFoodItem(this.value)"></select>
          <select class="form-control" id="amount"></select>
          <select class="form-control" id="unit" onchange="unitChangeFunction(this.value)">
            <option value="gram">gram</option>
            <option value="teaspoon">teaspoon</option>
            <option value="tablespoon">tablespoon</option>
            <option value="tatlı kaşığı">tatlı kaşığı</option>
            <option value="çay kaşığı">çay kaşığı</option>
            <option value="yemek kaşığı">yemek kaşığı</option>
            <option value="oz">oz</option>
            <option value="cup">cup</option>
            <option value="su bardağı">su bardağı</option>
            <option value="çay bardağı">çay bardağı</option>
            <option value="ml">ml</option>
          </select>
          <button id="add" class="btn btn-outline-primary">Add ingredient</button>
        </div>
        <p id="nutritientDetails"></p>
        <p id="hintForUnits"></p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Ingredients</span>
          </div>
          <ul id="ingList" name="ingList" ></ul>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Nutrients:</span>
          </div>
          <ul id="nutrientList" name="nutrientList" ></ul>
        </div>
      <textarea id="hiddenIngList" name="hiddenIngList" style="display:none;"></textarea>
      <textarea id="nutrientsTotal" name="nutrientsTotal" style="display:none;"></textarea>

      <div class="form-group row text-right">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <input type="submit" class="btn btn-outline-primary" name="Update" value="Update"></input>
          <input type="submit" class="btn btn-outline-primary" name="Delete" value="Delete"></input>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  var ingredientDict = {};
  var selectedFoodItem={};
  var keywords=['Energy','Protein','fat','Carbohydrate, by difference','Calcium','Iron','Magnesium', 'B-12','B-6',
  'Phosphorus','Potassium', 'Vitamin A','Vitamin D']
  var nutrientDict={'Energy':0,'Protein':0,'Fat':0,'Carbohydrate':0,'Calcium':0,'Iron':0,'Magnesium':0, 'B-12':0,'B-6':0,
  'Phosphorus':0,'Potassium':0, 'Vitamin A':0,'Vitamin D':0}
  var nutrientUnits={'Energy':'kcal','Protein':'g','Fat':'g','Carbohydrate':'g','Calcium':'mg','Iron':'mg',
  'Magnesium':'mg', 'B-12':'mg','B-6':'mg','Phosphorus':'mg','Potassium':'g', 'Vitamin A':'g','Vitamin D':'IU'}
  $(document).ready(function(){
    $("#search").click(function(e){
      e.preventDefault();
      var search_term = $("#term").val();
      var nutritientDetails = document.getElementById('hintForUnits')
      nutritientDetails.innerHTML="";
      var nutritientDetails = document.getElementById('nutritientDetails')
      nutritientDetails.innerHTML="";
      $.ajax({
        type : 'GET',
        url : "https://api.nal.usda.gov/fdc/v1/foods/search",
        data :{ api_key:"hExa857fawOBmDsWG4ii7gpzUqBEDKJ2aGn0nzvx",
               query: search_term,
               csrfmiddlewaretoken: '{{ csrf_token }}',
               dataType:'Foundation'
              },
        success : function(response){
            var len = response.foods.length;
            $("#search_results").empty();
            if(len !==null){
              $("#search_results").append("<option id='"+-1+"'>Select ingredient...</option>" );
              for( var i = 0; i<len; i++){
                var desc = response.foods[i]['description'];
                var id = response.foods[i]['fdcId'];
                $("#search_results").append("<option id='"+id+"'>"+desc+"</option>");
              }
            }
          },
          error : function(response){
            console.log(response)
          }
      })
    })
    $("#add").click(function(e){
      e.preventDefault();
      if(jQuery.isEmptyObject(selectedFoodItem))
        return;
      var amount=$("#amount").find('option:selected').val();
      var unit=$("#unit").find('option:selected').val();
      var gramValue=convertToGram(amount,unit);
      var convertedNutritionalValues=convertNutritions(selectedFoodItem['nutrientItems'], gramValue);
      var item={"id":selectedFoodItem['id'],"name":selectedFoodItem['desc'],"amount":amount,"unit":unit,"nutrientsList":convertedNutritionalValues}
      if(ingredientDict.hasOwnProperty(item["name"]))
        alert("ingredient already added!");
      else{
        ingredientDict[item["name"]]=item;
        addIngredientToList(item);
      }
    })
    $(function(e){
      unitChangeFunction();
    })
    $(function(e){
      var ingredientsWithColon="{{recipe.ingredients}}"
      var ingredientList = ingredientsWithColon.split("*");
      var $myList = $('#ingList');
      for (counter=0;counter<ingredientList.length;counter++){
        var item=ingredientList[counter];
        if(item!=""){
          var selectedFoodItem = JSON.parse(item.replace(/&quot;/g,'"'));
          ingredientDict[selectedFoodItem["name"]]=selectedFoodItem;
          addIngredientToList(selectedFoodItem)
        }
      }
    })
	})
  function getSelectedFoodItem(){
    selectedFoodItem={};
    var search_term = $("#search_results").find('option:selected').attr("id");
    if(search_term!==null){
      $.ajax({
        type : 'GET',
        url : "https://api.nal.usda.gov/fdc/v1/food/"+search_term,
        data :{ api_key:"hExa857fawOBmDsWG4ii7gpzUqBEDKJ2aGn0nzvx",
               csrfmiddlewaretoken: '{{ csrf_token }}',
              },
        success : function(response){
          selectedFoodItem['desc'] = response['description'];
          selectedFoodItem['id'] = response['fdcId'];
          nutrientList=response['foodNutrients'];
          var addedNutrientList=[];
          var newNutrientItem={};
          var newListNutrients=[];
          if (nutrientList!==null){
            for(nut=0;nut<nutrientList.length;nut++){
              var nutrientName=nutrientList[nut]['nutrient']['name'];
              var unit=nutrientList[nut]['nutrient']['unitName']
              var amount=nutrientList[nut]['amount'];
              var nutrientNameAdjusted=getNutrientName(nutrientName,unit);
              if(nutrientNameAdjusted!=""){
                if(nutrientNameAdjusted!==undefined && amount!==undefined && unit!==undefined){
                  newNutrientItem={"nutrientName":nutrientNameAdjusted,"nutrientAmount":amount,"unit":unit}
                  if(!addedNutrientList.includes(nutrientNameAdjusted)){
                    newListNutrients.push(newNutrientItem);
                    addedNutrientList.push(nutrientNameAdjusted)
                  }
                }
              }
            }
          }
          selectedFoodItem['nutrientItems']=newListNutrients;
          selectedFoodItem['amount'] = $("#amount").find('option:selected').val();
          selectedFoodItem['unit'] = $("#unit").find('option:selected').val();
          if(response['foodPortions']!==null && response['foodPortions'].length>0 ){
            var hintPortionDesc=response['foodPortions'][0]['portionDescription'];
            var hintGramWeight=response['foodPortions'][0]['gramWeight'];
            var hintAmount=response['foodPortions'][0]['amount'];
            var hintMeasureUnit=response['foodPortions'][0]['measureUnit']['name'];
            var hint="";
            if(hintPortionDesc!=undefined)
              hint="     portion description: "+hintPortionDesc+ "</br>";
            if(hintAmount!=undefined)
              hint+="     amount: "+hintAmount + "</br>";
            if(hintMeasureUnit!=undefined)
                  hint+="     measure unit: "+hintMeasureUnit+ "</br>";
            if(hintGramWeight!=undefined)
              hint+="     gram weight: "+hintGramWeight+ "</br>";

            var nutritientDetails = document.getElementById('hintForUnits')
            if(hint!=="")
              nutritientDetails.innerHTML="Suggested amount "+"</br>"+hint;
          }
          var nutritientDetails = document.getElementById('nutritientDetails')
          nutritientDetails.innerHTML="Nutrient details of selected food(for 100 gram): ";
          for(ne=0;ne<newListNutrients.length;ne++){
            var n=newListNutrients[ne];
            nutritientDetails.innerHTML+=n['nutrientName']+" "+n['nutrientAmount']+" "+n['unit']+"; ";
          }
        },
        error : function(response){
          console.log(response)
        }
      })
    }
  }
  function unitChangeFunction(){
    $("#amount").empty();
    if($("#unit").val()=="teaspoon" || $("#unit").val()=="tablespoon" || $("#unit").val()=="cup" ||$("#unit").val()=="oz" || $("#unit").val()=="su bardağı" || $("#unit").val()=="çay bardağı" ){
      $("#amount").append("<option id='1/4'>"+1/4+"</option>");
      $("#amount").append("<option id='1/2'>"+1/2+"</option>");
      $("#amount").append("<option id='3/4'>"+3/4+"</option>");
      for (index=1;index<=100;index=index+0.25){
        $("#amount").append("<option id='"+index+"'>"+index+"</option>");
      }
    }
    else{
      for (index=1;index<=2000;index++){
        $("#amount").append("<option id='"+index+"'>"+index+"</option>");
      }
    }
  }
  function addIngredientToList(ingredient) {
    var $myList = $('#ingList');
    var ing= ingredient["name"]+" "+ingredient["amount"]+" "+ ingredient["unit"];
    var $deleteLink = $('<a href="#" id="'+ing+'"> x</a>');
    $deleteLink.on('click', function(e) {
      e.preventDefault();
      var deleteValue=$(this)[0].id;
      $(this).parent().remove();
      updateIngList(deleteValue);
    })
    var $entry = $('<li id="ingList" name="ingList">'+ing+'</li>')
    $entry.append($deleteLink)
    $myList.append($entry);
    updateIngList();
  }
  function updateIngList(deleteValue){
    var temp="";
    nutrientDict={'Energy':0,'Protein':0,'Fat':0,'Carbohydrate':0,'Calcium':0,'Iron':0,'Magnesium':0, 'B-12':0,'B-6':0,
    'Phosphorus':0,'Potassium':0, 'Vitamin A':0,'Vitamin D':0}
    var nutrientsTotal="";
    for (var key in ingredientDict){
      //ingredient part
        if (ingredientDict.hasOwnProperty(key)){
          if(deleteValue==null || deleteValue==undefined){
            if(temp=="")
              temp=JSON.stringify(ingredientDict[key]);
            else
              temp=temp+"*"+JSON.stringify(ingredientDict[key]);
          }
          else{
            if(deleteValue.includes(key))
              delete ingredientDict[key];
          }
        }
      //nutrientPart
      if(ingredientDict!==null && ingredientDict!==undefined && ingredientDict.hasOwnProperty(key)){
        for(u=0;u<ingredientDict[key]["nutrientsList"].length;u++) {
          var nutrient=ingredientDict[key]["nutrientsList"][u];
          var name=nutrient["nutrientName"];
          var amount=Number(nutrient["nutrientAmount"]).toFixed(2);
          var unit=nutrient["unit"];

          if(nutrientDict.hasOwnProperty(name)){
            var value=Number(nutrientDict[name])+Number(amount);
            nutrientDict[name]=value.toFixed(2);
            nutrientUnits[name]=unit;
          }
        }
      }
    }
    $('#nutrientList').empty();
    var $myList = $('#nutrientList');
    for(var n in nutrientDict){
      if(nutrientsTotal=="")
        nutrientsTotal=n+" "+nutrientDict[n]+" "+nutrientUnits[n]+"; ";
      else
        nutrientsTotal+=n+" "+nutrientDict[n]+" "+nutrientUnits[n]+"; ";
      var $entry = $('<li id="ingList" name="ingList">'+n+" "+nutrientDict[n]+" "+nutrientUnits[n]+'</li>');
      $myList.append($entry);
    }
    $('#nutrientsTotal').val(nutrientsTotal);
    $('#hiddenIngList').val(temp);
  }
  function getNutrientName(nutrientName,unit){
    for (g=0;g<keywords.length;g++){
      var str=keywords[g];
        if (nutrientName.includes(str)){
          if(str=="fat")
            str= "Fat";
          else if(str=="Carbohydrate, by difference")
            str="Carbohydrate";
          else if(str=="Vitamin A")
              str="VitaminA";
          else if(str=="Vitamin D")
                  str="VitaminD";
          //else if(str=="Energy" && unit!="kcal")
          //  str="";
          return str;
        }
    }
    return "";
  }
  function convertToGram(amount,unit){
    if(unit=="teaspoon")
      return amount*227/48;
    if(unit=="tablespoon")
      return amount*227/16 ;
    if(unit=="tatlı kaşığı")
      return amount*227/48 ;
    if(unit=="çay kaşığı")
      return amount*227/96 ;
    if(unit=="yemek kaşığı")
      return amount*227/16 ;
    if(unit=="oz")
      return amount*227/8 ;
    if(unit=="cup")
      return amount*227;
    if(unit=="su bardağı")
      return amount*227;
    if(unit=="çay bardağı")
      return amount*227/2;
    if(unit=="ml")
      return amount*227/237;
    return amount;
  }
  function convertNutritions(nutrientsList,gramValue){
    var multiplier=gramValue/100;
    var newNutrientItem={};
    var newListNutrients=[];
    for(c=0;c<nutrientsList.length;c++){
      var nutrientName=nutrientsList[c]["nutrientName"];
      var amount= nutrientsList[c]["nutrientAmount"]*multiplier;
      var unit=nutrientsList[c]["unit"];
      newNutrientItem={"nutrientName":nutrientName,"nutrientAmount":amount.toFixed(2),"unit":unit}
      newListNutrients.push(newNutrientItem);
    }
    return newListNutrients;
  }
</script>
{% endblock %}
