{% extends "base.html"%}
{% load bootstrap3%}
{% block content %}
<div class="container">
  <div class="jumbotron">
    {% if registered %}
      <h3>Thank you for registering!</h3>
    {% else %}
      <h3>Sign Up</h3>
      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-group">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"   id="inputGroup-sizing-default">Username</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="username" name="username">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" required="required" aria-describedby="inputGroup-sizing-default" id="first_name" name="first_name">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" required="required" aria-describedby="inputGroup-sizing-default" id="last_name" name="last_name">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
            </div>
            <input type="email" class="form-control" aria-label="Default" required="required" aria-describedby="inputGroup-sizing-default" id="email" name="email">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            </div>
            <input type="password" class="form-control" placeholder="Username" aria-label="Default" required="required" aria-describedby="inputGroup-sizing-default" id="password" name="password">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">User Type</span>
            </div>
            <select class="form-control" id="user_type" name="user_type">
              <option value="provider">provider</option>
              <option value="consumer">consumer</option>
            </select>
          </div>
        <div class="form-group row text-right">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <input type="submit" class="btn btn-outline-primary" value="Register"></input>
          </div>
        </div>
        </div>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
